<div class="login-container">
    <div class="login-area">
        <p class="login-area-title">Log in to your home!</p>
        <form action="/login" id="login-form" method="POST">
            <div class="login-field">
                <span class="material-icons-outlined">
                    email</span>
                <input type="email" id="login-email" placeholder="Email" name="email">
            </div>
            <div class="login-field">
                <span class="material-icons-outlined">
                    lock</span>
                <input type="password" id="login-password" placeholder='Password' name="password">
            </div>
            <p class="error-message"></p>
            <button type="submit" class="login-field login-btn">Enter your home</button>
        </form>
    </div>
    <div class="login-image">
        <svg class="animated" id="freepik_stories-smart-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"
            version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
            <style>
                svg#freepik_stories-smart-home:not(.animated) .animable {
                    opacity: 0;
                }

                svg#freepik_stories-smart-home.animated #freepik--background-simple--inject-15 {
                    animation: 1.5s Infinite linear wind;
                    animation-delay: 0s;
                }

                svg#freepik_stories-smart-home.animated #freepik--Character--inject-15 {
                    animation: 1.5s Infinite linear wind;
                    animation-delay: 0s;
                }

                @keyframes wind {
                    0% {
                        transform: rotate(0deg);
                    }

                    25% {
                        transform: rotate(1deg);
                    }

                    75% {
                        transform: rotate(-1deg);
                    }
                }
            </style>
            <g id="freepik--background-simple--inject-15" class="animable"
                style="transform-origin: 247.222px 250.299px;">
                <path
                    d="M325.69,62.68s-74-26.32-146.7,15.59S69.65,203.37,38.16,270,24.8,404.45,80.28,435.36s93.19-14.66,171-16.88,98.75,8.91,163.33-35.05,76.25-147.79,25.31-224.61S325.69,62.68,325.69,62.68Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 247.222px 250.299px;" id="elbb9noht4mff"
                    class="animable"></path>
                <g id="elm62hxvyz8tf">
                    <path
                        d="M325.69,62.68s-74-26.32-146.7,15.59S69.65,203.37,38.16,270,24.8,404.45,80.28,435.36s93.19-14.66,171-16.88,98.75,8.91,163.33-35.05,76.25-147.79,25.31-224.61S325.69,62.68,325.69,62.68Z"
                        style="fill: rgb(255, 255, 255); opacity: 0.8; transform-origin: 247.222px 250.299px;"
                        class="animable"></path>
                </g>
                <path
                    d="M130.71,253.79a12.13,12.13,0,0,0,9-4l-2.69-3a8.17,8.17,0,0,1-13-.58l-2.82,2.9A12.17,12.17,0,0,0,130.71,253.79Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 130.455px 250px;" id="elwhktft8a7k"
                    class="animable"></path>
                <path
                    d="M130.71,247.45a5.86,5.86,0,0,0,4.7-2.37l-2.88-3.19a1.84,1.84,0,0,1-3.66-.29,2.19,2.19,0,0,1,0-.36l-3.23,3.31A5.84,5.84,0,0,0,130.71,247.45Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 130.525px 244.345px;" id="elh61aefr11x"
                    class="animable"></path>
                <path d="M130.48,239.62l-.18.19a1.55,1.55,0,0,1,.31,0Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 130.455px 239.715px;" id="elxbgns04mll"
                    class="animable"></path>
                <path d="M145.68,256.44a21,21,0,0,1-30.75-.89l-2.81,2.88a25.05,25.05,0,0,0,36.25,1Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 130.245px 261.126px;" id="elqeimmta5e7"
                    class="animable"></path>
                <path
                    d="M130.71,260.58a18.92,18.92,0,0,0,13.55-5.72l-2.69-3a14.93,14.93,0,0,1-22.37-.72L116.41,254A18.91,18.91,0,0,0,130.71,260.58Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 130.335px 255.86px;" id="elxo8xbkce9zi"
                    class="animable"></path>
            </g>
            <g id="freepik--Floor--inject-15" class="animable" style="transform-origin: 251.215px 458.4px;">
                <line x1="9.43" y1="458.4" x2="493" y2="458.4"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 251.215px 458.4px;"
                    id="el3bn0j67iz1x" class="animable"></line>
            </g>
            <g id="freepik--Plant--inject-15" class="animable" style="transform-origin: 209.31px 363.465px;">
                <path d="M211.14,321.22s.34,42.21.34,53.36-.34,59.59-.34,59.59"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 3px; transform-origin: 211.31px 377.695px;"
                    id="elcfx4nvn4o8l" class="animable"></path>
                <polygon
                    points="236.47 332.03 226 323.25 255.38 326.63 229.38 318.18 256.06 313.45 226 313.45 249.3 295.89 222.96 309.06 238.16 283.06 217.9 306.36 224.99 272.25 211.82 304 210.47 268.54 207.77 304.67 193.4 272.75 203.38 307.71 181.88 284.27 200.68 313.12 174.07 294.14 198.99 318.18 170.78 302.77 196.62 320.21 173.25 317.16 195.95 323.59 177.77 326.62 196.62 325.95 185.48 333.38 211.82 326.29 236.47 332.03"
                    style="fill: rgb(64, 175, 255); transform-origin: 213.42px 300.96px;" id="elh071wnuixlw"
                    class="animable"></polygon>
                <path
                    d="M201,363.77s-1,8.78-.33,12.16a62.17,62.17,0,0,1,1,11.82c0,4.39.34,4.73.34,7.77s-.34,28.86-.34,31.22v8.1"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 3px; transform-origin: 201.224px 399.305px;"
                    id="elxnqkle9x65p" class="animable"></path>
                <path d="M202,392.14s1.35-7.43,2.7-10.81,2.36-2.36,2.7-6.41.34-5.74,1-7.1a27,27,0,0,0,1.35-3.71l.68-2.7"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 3px; transform-origin: 206.215px 376.775px;"
                    id="el87iopczytc2" class="animable"></path>
                <polygon
                    points="226 372.55 215.53 363.77 244.91 367.15 218.91 358.71 245.59 353.98 215.53 353.98 238.84 336.42 212.5 349.59 227.69 323.59 207.43 346.89 214.52 312.78 201.35 344.52 200 309.06 197.3 345.2 186.83 312.44 192.91 348.24 174.34 321.56 190.21 353.64 165.84 337.72 188.52 358.71 163.38 348.42 186.15 360.73 162.56 358.69 185.48 364.11 169.55 367.74 186.15 366.47 175.01 373.9 201.35 366.81 226 372.55"
                    style="fill: rgb(64, 175, 255); transform-origin: 204.075px 341.48px;" id="el9ct41hcvas4"
                    class="animable"></polygon>
                <path
                    d="M191.76,425.28l-7.23,12a8,8,0,0,0-.86,6.16l3.21,12a4,4,0,0,0,3.86,2.95h32.92a4,4,0,0,0,3.85-2.95l3.22-12a8,8,0,0,0-.87-6.16l-7.22-12a2.74,2.74,0,0,0-2.35-1.33H194.1A2.72,2.72,0,0,0,191.76,425.28Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 207.198px 441.17px;"
                    id="el75cdtp1uy84" class="animable"></path>
            </g>
            <g id="freepik--Refrigerator--inject-15" class="animable" style="transform-origin: 96.81px 294.225px;">
                <path
                    d="M30.43,130.39H163.19a1.1,1.1,0,0,1,1.1,1.1V456.57a1.83,1.83,0,0,1-1.83,1.83H31.16a1.83,1.83,0,0,1-1.83-1.83V131.49a1.1,1.1,0,0,1,1.1-1.1Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 96.81px 294.395px;"
                    id="el2smtrzr9kar" class="animable"></path>
                <line x1="96.81" y1="295.71" x2="96.81" y2="458.06"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 96.81px 376.885px;"
                    id="elmn1ta7n48pe" class="animable"></line>
                <line x1="96.81" y1="130.05" x2="96.81" y2="289.92"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 96.81px 209.985px;"
                    id="elmbs7y6o20c" class="animable"></line>
                <path
                    d="M38.27,295.61H158a2.72,2.72,0,0,0,2.72-2.72h0a2.72,2.72,0,0,0-2.72-2.72H38.27a2.72,2.72,0,0,0-2.72,2.72h0A2.72,2.72,0,0,0,38.27,295.61Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 98.135px 292.89px;"
                    id="el22dv62st8cx" class="animable"></path>
                <rect x="111.7" y="161.92" width="38.45" height="74.62"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 130.925px 199.23px;"
                    id="elxf0mds4m3qf" class="animable"></rect>
                <rect x="114.72" y="167.77" width="32.42" height="40.78"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 130.93px 188.16px;"
                    id="elvlf0sqakgq" class="animable"></rect>
                <rect x="114.97" y="213.06" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 117.275px 215.44px;"
                    id="elbt9ri0ruhbb" class="animable"></rect>
                <rect x="121.9" y="213.06" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 124.205px 215.44px;"
                    id="elvhjft7jmx" class="animable"></rect>
                <rect x="128.82" y="213.06" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 131.125px 215.44px;"
                    id="el23a2cbq6qpi" class="animable"></rect>
                <rect x="135.74" y="213.06" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 138.045px 215.44px;"
                    id="el1dtut12fkgm" class="animable"></rect>
                <rect x="142.66" y="213.06" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 144.965px 215.44px;"
                    id="el4tbvsgl5xe3" class="animable"></rect>
                <rect x="114.97" y="220.71" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 117.275px 223.09px;"
                    id="el8eqrxwklnck" class="animable"></rect>
                <rect x="121.9" y="220.71" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 124.205px 223.09px;"
                    id="ellm2bf2zqpre" class="animable"></rect>
                <rect x="128.82" y="220.71" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 131.125px 223.09px;"
                    id="el4uqzjcb35mq" class="animable"></rect>
                <rect x="135.74" y="220.71" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 138.045px 223.09px;"
                    id="elu0fhkxzekn" class="animable"></rect>
                <rect x="142.66" y="220.71" width="4.61" height="4.76"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 144.965px 223.09px;"
                    id="elbf5740uad0q" class="animable"></rect>
                <rect x="43.91" y="218.01" width="34.29" height="49.4"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 61.055px 242.71px;"
                    id="elhpswotyhi7c" class="animable"></rect>
                <rect x="50.13" y="218.01" width="21.85" height="49.4"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 61.055px 242.71px;"
                    id="elwz5vgqoaa7j" class="animable"></rect>
                <rect x="50.13" y="218.01" width="21.85" height="15.29"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 61.055px 225.655px;"
                    id="el29909rxip6c" class="animable"></rect>
            </g>
            <g id="freepik--air-conditioner--inject-15" class="animable" style="transform-origin: 285.82px 89.5125px;">
                <path
                    d="M379.4,100H192.25a92.23,92.23,0,0,1-4.81-28.9l-.09-16.45A4.66,4.66,0,0,1,192,50H379.64a4.65,4.65,0,0,1,4.65,4.68l-.11,16.69a91.86,91.86,0,0,1-4.46,27.67Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 285.82px 75px;"
                    id="elp2vz188sp09" class="animable"></path>
                <rect x="204.34" y="92.4" width="162.97" height="7.64"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 285.825px 96.22px;"
                    id="elkro44nhnm3" class="animable"></rect>
                <path
                    d="M333.67,116.09a12.1,12.1,0,0,0,9-4l-2.69-3a8.17,8.17,0,0,1-13-.57l-2.83,2.89A12.16,12.16,0,0,0,333.67,116.09Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 333.41px 112.305px;" id="el4mrerdw2uv"
                    class="animable"></path>
                <path
                    d="M333.67,109.76a5.84,5.84,0,0,0,4.69-2.38l-2.88-3.18a1.84,1.84,0,0,1-3.66-.29,1.5,1.5,0,0,1,0-.37l-3.24,3.31A5.85,5.85,0,0,0,333.67,109.76Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 333.47px 106.65px;" id="elexramjq674k"
                    class="animable"></path>
                <path d="M333.43,101.93l-.18.19a1.67,1.67,0,0,1,.31-.05Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 333.405px 102.025px;" id="el15byvac7lqw"
                    class="animable"></path>
                <path d="M348.64,118.74a21,21,0,0,1-30.76-.89l-2.81,2.88a25,25,0,0,0,36.25,1Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 333.195px 123.438px;" id="elf3dwv2n0lqe"
                    class="animable"></path>
                <path
                    d="M333.67,122.88a18.89,18.89,0,0,0,13.54-5.71l-2.69-3a14.93,14.93,0,0,1-22.36-.71l-2.8,2.86A18.93,18.93,0,0,0,333.67,122.88Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 333.285px 118.17px;" id="elqnihn9uf12"
                    class="animable"></path>
            </g>
            <g id="freepik--music-box--inject-15" class="animable" style="transform-origin: 387.995px 409.319px;">
                <rect x="337.81" y="389.15" width="100.38" height="12.46"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 388px 395.38px;"
                    id="eldf9nbb24gb7" class="animable"></rect>
                <rect x="294.14" y="401.59" width="187.71" height="56.81"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 387.995px 429.995px;"
                    id="eln9fgy86x4af" class="animable"></rect>
                <rect x="299.14" y="405.22" width="177.71" height="49.55"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 387.995px 429.995px;"
                    id="elc1v44n73457" class="animable"></rect>
                <line x1="358.48" y1="404.99" x2="358.48" y2="454.74"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 358.48px 429.865px;"
                    id="ela6b2zitwn2o" class="animable"></line>
                <line x1="416.7" y1="404.99" x2="416.7" y2="454.74"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 416.7px 429.865px;"
                    id="elc7o852yts6e" class="animable"></line>
                <rect x="307.6" y="366.12" width="25.35" height="35.49"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 320.275px 383.865px;"
                    id="el2vku7npo0ui" class="animable"></rect>
                <rect x="442.58" y="366.12" width="25.35" height="35.49"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 455.255px 383.865px;"
                    id="elk29iba5ekl9" class="animable"></rect>
                <path
                    d="M389.9,373.15a12.13,12.13,0,0,0-9,4l2.69,3a8.16,8.16,0,0,1,13,.58l2.83-2.9A12.17,12.17,0,0,0,389.9,373.15Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.16px 376.94px;" id="elp8dn1adc1u"
                    class="animable"></path>
                <path
                    d="M389.9,379.49a5.86,5.86,0,0,0-4.7,2.37l2.88,3.18a1.84,1.84,0,0,1,3.66.29,1.5,1.5,0,0,1,0,.37l3.24-3.31A5.85,5.85,0,0,0,389.9,379.49Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.09px 382.595px;" id="elhcyckgq5wjp"
                    class="animable"></path>
                <path d="M390.13,387.31l.18-.18a1.55,1.55,0,0,1-.31,0Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.155px 387.22px;" id="el2ljwbhsnymv"
                    class="animable"></path>
                <path d="M374.93,370.5a21,21,0,0,1,30.75.89l2.81-2.88a25.05,25.05,0,0,0-36.25-1Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.365px 365.814px;" id="elu8a2pwjaip"
                    class="animable"></path>
                <path
                    d="M389.9,366.36a18.92,18.92,0,0,0-13.55,5.72l2.69,3a14.92,14.92,0,0,1,22.36.72l2.8-2.86A18.93,18.93,0,0,0,389.9,366.36Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.275px 371.08px;" id="elsj6zouh9rlm"
                    class="animable"></path>
            </g>
            <g id="freepik--Lamps--inject-15" class="animable" style="transform-origin: 277.16px 83.465px;">
                <path d="M476.44,71.89a5.8,5.8,0,1,1-5.8-5.8A5.8,5.8,0,0,1,476.44,71.89Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 470.64px 71.89px;"
                    id="elmskhsq2lwrk" class="animable"></path>
                <path d="M485,114.82h-28.8V92.09a14.4,14.4,0,0,1,14.4-14.4h0A14.4,14.4,0,0,1,485,92.09Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 470.6px 96.255px;"
                    id="elugnm5fq7wpl" class="animable"></path>
                <line x1="470.64" y1="66.09" x2="470.64" y2="38"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; stroke-width: 2px; transform-origin: 470.64px 52.045px;"
                    id="el9btmq5mujq9" class="animable"></line>
                <path d="M89.52,71.89a5.8,5.8,0,1,1-5.8-5.8A5.8,5.8,0,0,1,89.52,71.89Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 83.72px 71.89px;"
                    id="elgmjbollogf" class="animable"></path>
                <path d="M98.12,114.82H69.32V92.09a14.4,14.4,0,0,1,14.4-14.4h0a14.4,14.4,0,0,1,14.4,14.4Z"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 83.72px 96.255px;"
                    id="el2xe42vtrkw8" class="animable"></path>
                <line x1="83.72" y1="66.09" x2="83.72" y2="38"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; stroke-width: 2px; transform-origin: 83.72px 52.045px;"
                    id="elej9uos8thuv" class="animable"></line>
                <path
                    d="M117.83,110.33a12.13,12.13,0,0,0-4-9l-3,2.69a8.16,8.16,0,0,1-.57,13l2.89,2.82A12.15,12.15,0,0,0,117.83,110.33Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 114.045px 110.585px;" id="el5ozwblbpyvh"
                    class="animable"></path>
                <path
                    d="M111.49,110.33a5.86,5.86,0,0,0-2.38-4.7l-3.18,2.88a1.85,1.85,0,0,1-.29,3.67,2.33,2.33,0,0,1-.37,0l3.32,3.23A5.84,5.84,0,0,0,111.49,110.33Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 108.38px 110.52px;" id="elohr7nvvc8j"
                    class="animable"></path>
                <path d="M103.66,110.56l.19.18a1.06,1.06,0,0,1,0-.31Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 103.755px 110.585px;" id="el0n14d8b5vah"
                    class="animable"></path>
                <path d="M120.48,95.36a21,21,0,0,1-.9,30.75l2.88,2.82a25.06,25.06,0,0,0,1-36.26Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 125.157px 110.8px;" id="elaxarvkx7rta"
                    class="animable"></path>
                <path
                    d="M124.62,110.33a18.92,18.92,0,0,0-5.72-13.55l-3,2.69a14.93,14.93,0,0,1-.72,22.37l2.86,2.79A18.91,18.91,0,0,0,124.62,110.33Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 119.9px 110.705px;" id="el6w1e9djpc6m"
                    class="animable"></path>
            </g>
            <g id="freepik--TV--inject-15" class="animable" style="transform-origin: 390.73px 212.464px;">
                <rect x="307.11" y="170.55" width="167.24" height="112.14"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 390.73px 226.62px;"
                    id="elu684p92fpm9" class="animable"></rect>
                <rect x="311.65" y="175.28" width="158.16" height="102.67"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 390.73px 226.615px;"
                    id="elr2mzabvkt0a" class="animable"></rect>
                <path
                    d="M389.9,155.15a12.13,12.13,0,0,0-9,4l2.69,3a8.16,8.16,0,0,1,13,.58l2.83-2.9A12.17,12.17,0,0,0,389.9,155.15Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.16px 158.94px;" id="elnyuhlf4vok"
                    class="animable"></path>
                <path
                    d="M389.9,161.49a5.86,5.86,0,0,0-4.7,2.37l2.88,3.18a1.84,1.84,0,0,1,3.66.29,1.5,1.5,0,0,1,0,.37l3.24-3.31A5.85,5.85,0,0,0,389.9,161.49Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.09px 164.595px;" id="ell3sm0eflpf"
                    class="animable"></path>
                <path d="M390.13,169.31l.18-.18-.31,0Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.155px 169.22px;" id="elasfa9c7ak7l"
                    class="animable"></path>
                <path d="M374.93,152.5a21,21,0,0,1,30.75.89l2.81-2.88a25.05,25.05,0,0,0-36.25-1Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.365px 147.814px;" id="elocwqp38m1ns"
                    class="animable"></path>
                <path
                    d="M389.9,148.36a18.92,18.92,0,0,0-13.55,5.72l2.69,3a14.92,14.92,0,0,1,22.36.72l2.8-2.86A18.93,18.93,0,0,0,389.9,148.36Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 390.275px 153.08px;" id="el5s61ub3gtut"
                    class="animable"></path>
            </g>
            <g id="freepik--Character--inject-15" class="animable animator-active"
                style="transform-origin: 246.947px 296.911px;">
                <polyline points="236.65 146.98 236.38 218.03 194.25 163.2"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; stroke-dasharray: 2; transform-origin: 215.45px 182.505px;"
                    id="el8p8s0t8z5ts" class="animable"></polyline>
                <polyline points="174.41 234.84 234.41 218.67 174.09 195.8"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; stroke-dasharray: 2; transform-origin: 204.25px 215.32px;"
                    id="elx5cok116oeh" class="animable"></polyline>
                <line x1="234.4" y1="218.67" x2="199.29" y2="264.37"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; stroke-dasharray: 2; transform-origin: 216.845px 241.52px;"
                    id="elu94becnhcoj" class="animable"></line>
                <path d="M238,149.6h-1"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 237.5px 149.6px;"
                    id="el6jjyqbbr0d" class="animable"></path>
                <path d="M235,149.62c-1.41,0-2.84.12-4.27.25A64.92,64.92,0,0,0,200.35,268.3"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; stroke-dasharray: 2.00802, 2.00802; transform-origin: 203.393px 208.96px;"
                    id="eldwgt9nrzlsw" class="animable"></path>
                <path d="M201.19,268.85l.84.55"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-miterlimit: 10; transform-origin: 201.61px 269.125px;"
                    id="elgefkhve644j" class="animable"></path>
                <path d="M188.78,196.89A14.12,14.12,0,1,0,174.66,211,14.1,14.1,0,0,0,188.78,196.89Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 174.66px 196.88px;" id="elhr3h9maayj"
                    class="animable"></path>
                <path
                    d="M174.82,205.84a4.39,4.39,0,0,1-4-2.66c0-.08-.07-.19-.11-.3l-.07-.21c-.48-1.48-1.09-3-1.19-3.21A6.22,6.22,0,1,1,181,196.4a6.8,6.8,0,0,1-.62,2.71h0c-.16.38-.34.74-.52,1.11a9.69,9.69,0,0,0-.62,1.37q-.1.3-.18.6a6.67,6.67,0,0,1-.54,1.41A4.22,4.22,0,0,1,174.82,205.84Zm0-14.31A4.88,4.88,0,0,0,170,196.4a5,5,0,0,0,.65,2.44l0,.07c0,.07.71,1.68,1.26,3.37,0,.07,0,.12.05.17a1.47,1.47,0,0,0,.07.17,3.05,3.05,0,0,0,2.81,1.88,2.87,2.87,0,0,0,2.57-1.56,5,5,0,0,0,.41-1.12c.06-.22.13-.44.21-.67a11.27,11.27,0,0,1,.69-1.54c.16-.33.33-.67.48-1h0a5.67,5.67,0,0,0,.51-2.19A4.87,4.87,0,0,0,174.83,191.53Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 174.782px 197.938px;" id="eldyq3xhv0zqv"
                    class="animable"></path>
                <path d="M174.84,189.82a.68.68,0,0,1-.68-.67V186a.67.67,0,0,1,1.34,0v3.11A.67.67,0,0,1,174.84,189.82Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 174.831px 187.577px;" id="eltw3cwwgtyal"
                    class="animable"></path>
                <path d="M167.35,197.05h-2.43a.68.68,0,0,1,0-1.35h2.44a.68.68,0,1,1,0,1.35Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 166.222px 196.375px;" id="el11nede7fghk"
                    class="animable"></path>
                <path d="M184.58,197.06h-2.44a.67.67,0,0,1,0-1.34h2.44a.67.67,0,0,1,.67.67A.68.68,0,0,1,184.58,197.06Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 183.36px 196.39px;" id="elaxuntsug10i"
                    class="animable"></path>
                <path
                    d="M169.12,191.5a.66.66,0,0,1-.47-.19l-1.94-1.94a.67.67,0,0,1,0-1,.68.68,0,0,1,.95,0l1.93,1.94a.67.67,0,0,1-.48,1.14Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 168.134px 189.838px;" id="elrttwpsjevze"
                    class="animable"></path>
                <path
                    d="M180.72,191.51a.69.69,0,0,1-.48-.2.68.68,0,0,1,0-.95l1.94-1.93a.67.67,0,0,1,.95.95l-1.94,1.93A.67.67,0,0,1,180.72,191.51Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 181.687px 189.872px;" id="elu98xuxv4fi"
                    class="animable"></path>
                <path d="M210.64,165.77a14.12,14.12,0,1,0-14.23,14A14.12,14.12,0,0,0,210.64,165.77Z"
                    style="fill: rgb(64, 175, 255); transform-origin: 196.521px 165.65px;" id="el9gi1l0w6iz"
                    class="animable"></path>
                <path
                    d="M196.5,173.62a8,8,0,0,1-3-15.3,1.13,1.13,0,1,1,.86,2.08,5.71,5.71,0,1,0,4.76.2,1.13,1.13,0,0,1,1-2,8,8,0,0,1-3.68,15Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 196.507px 165.906px;" id="el42w40ujlo8o"
                    class="animable"></path>
                <path
                    d="M196.57,164.32a1.13,1.13,0,0,1-1.11-1.14l0-6.82a1.13,1.13,0,0,1,2.26,0l-.06,6.83A1.13,1.13,0,0,1,196.57,164.32Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 196.59px 159.777px;" id="elatf38mkfiv"
                    class="animable"></path>
                <g id="eln1yurz9pcgm">
                    <circle cx="199.29" cy="266.12" r="14.12"
                        style="fill: rgb(64, 175, 255); transform-origin: 199.29px 266.12px; transform: rotate(-26.58deg);"
                        class="animable"></circle>
                </g>
                <path
                    d="M203.94,262.26h-4.69v-2.7a3.78,3.78,0,0,0-3.76-3.78h-.21a3.76,3.76,0,0,0-3.78,3.75v3.42a.67.67,0,1,0,1.34,0v-3.42a2.43,2.43,0,0,1,2.43-2.41h.22a2.43,2.43,0,0,1,2.41,2.43v2.7h-2.11a1.53,1.53,0,0,0-1.53,1.53l0,8.14a1.53,1.53,0,0,0,1.52,1.54l8.15,0a1.53,1.53,0,0,0,1.53-1.53l0-8.14A1.54,1.54,0,0,0,203.94,262.26Zm.15,9.68a.18.18,0,0,1-.19.18l-8.14,0a.19.19,0,0,1-.19-.18l0-8.15a.19.19,0,0,1,.19-.18l8.15,0a.18.18,0,0,1,.18.18Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 198.48px 264.62px;" id="elk3lldsap5f"
                    class="animable"></path>
                <path d="M199.85,265.9a1.14,1.14,0,0,0-.45,2.18V270h.88v-1.88a1.14,1.14,0,0,0-.44-2.19Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 199.851px 267.95px;" id="el2znc72t0vfu"
                    class="animable"></path>
                <g id="elb9wd2mnygf">
                    <circle cx="174.41" cy="234.84" r="14.12"
                        style="fill: rgb(64, 175, 255); transform-origin: 174.41px 234.84px; transform: rotate(-17.78deg);"
                        class="animable"></circle>
                </g>
                <path
                    d="M176.05,235.07l.11-7.31a2.76,2.76,0,1,0-5.52-.08v.57l-1.66,0a.79.79,0,0,0-.79.77.77.77,0,0,0,.76.78l1.67,0,0,1.14-1.66,0a.77.77,0,0,0-.79.76.79.79,0,0,0,.76.79l1.67,0,0,1.15-1.66,0a.78.78,0,0,0,0,1.55l1.53,0a4.88,4.88,0,1,0,5.66-.11Zm-2.8,7.33A3.33,3.33,0,0,1,170,239a3.26,3.26,0,0,1,1.71-2.84l.38-.22.12-8.26a1.23,1.23,0,0,1,1.24-1.2,1.21,1.21,0,0,1,1.19,1.23l-.12,8.21.41.23a3.32,3.32,0,0,1-1.65,6.23Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 173.214px 234.475px;" id="eln26u3bkmvnh"
                    class="animable"></path>
                <path
                    d="M180.51,226.86a3.09,3.09,0,1,0,3.05,3.14A3.09,3.09,0,0,0,180.51,226.86Zm-.07,4.64A1.55,1.55,0,1,1,182,230,1.56,1.56,0,0,1,180.44,231.5Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 180.47px 229.95px;" id="el3mf1tgzprag"
                    class="animable"></path>
                <g id="el6ly0q6xeci">
                    <circle cx="236.65" cy="152.83" r="14.12"
                        style="fill: rgb(64, 175, 255); transform-origin: 236.65px 152.83px; transform: rotate(-74.33deg);"
                        class="animable"></circle>
                </g>
                <path
                    d="M243.33,154.79l0-8.86h0v-.63a1.51,1.51,0,0,0-1.5-1.51l-8.93,0a1.51,1.51,0,0,0-1.51,1.49v2.17l0,5.76a4,4,0,0,0-1.94-.51,3.25,3.25,0,1,0,3.66,3.24,3,3,0,0,0-.25-1.16l0-5.82h0l8.93.05h0l0,4.26a4.14,4.14,0,0,0-1.94-.51,3.25,3.25,0,1,0,3.65,3.25A2.83,2.83,0,0,0,243.33,154.79Zm-13.9,2.83a1.8,1.8,0,1,1,2.2-1.73A2,2,0,0,1,229.43,157.62Zm12.45-10.16s0,0,0,0l-9-.07,0-2.2,9,.08Zm-2,10.22a1.8,1.8,0,1,1,2.21-1.74A2,2,0,0,1,239.89,157.68Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 235.06px 151.513px;" id="ela28d69d23y"
                    class="animable"></path>
                <path
                    d="M312.17,206.3s4.8,2.13,6.67,6.66,17.86,45.59,18.39,48.79-17.06,32-17.06,32l-5.07-4.8,5.6-23.46-7.2-17.33-4-5.6"
                    style="fill: rgb(64, 175, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 323.371px 250.025px;"
                    id="elpsboj6xaom" class="animable"></path>
                <path d="M333,271.57c-6.71-3.18-11.86-1.52-13.55-.78l-4.34,18.15,5.07,4.8S327.93,281,333,271.57Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 324.055px 281.716px;"
                    id="elbyu0w3to56q" class="animable"></path>
                <path
                    d="M313,288.86s7,13.91,6.13,19.23-3.26,117.47-3.26,117.47l-15.38.59L286,315.49l-4.15.59-6.8,111.25-17.16-2.66-5.33-108.88-.89-24.27Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 285.437px 358.095px;"
                    id="elpcfe6sulsa" class="animable"></path>
                <path
                    d="M256.7,376.44a4.85,4.85,0,0,0,2.06-.85c.77-.66.66-.66,2.41,1.09s1.31,2.51,2.73,1.42,1.09-1.53,2.51.11,1.1,2.19,3.06,1.86,2.3-.88,2.3.76-.33,2.08.54,2.41a5.76,5.76,0,0,1,2.63,1.75c.65.87,1,.43,1.31,1.42a3.7,3.7,0,0,0,1,1.53Z"
                    style="fill: rgb(94, 94, 94); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 266.975px 381.562px;"
                    id="elb0j05ihgy9n" class="animable"></path>
                <path
                    d="M256.79,376.79a10.62,10.62,0,0,1,1.64,3.93c.33,2.08-.32,3.72.77,4.7s1.75.55,2,1.42-.33,1.75.22,2.08,2.73-1.09,2.73-.44-.22,1,.65.66.88-1.42,1.42-.33,1,2.51,1.32,2.3a7.1,7.1,0,0,1,3.38-1.32,4,4,0,0,1,2.08.44c.33.11.87.66,1.2.11s3.25-2.06,3.25-2.06Z"
                    style="fill: rgb(94, 94, 94); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 267.12px 383.96px;"
                    id="elrzn4jpibyy" class="animable"></path>
                <path d="M256.7,376.44l20.72,11.84S262.33,389.16,256.7,376.44Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 267.06px 382.367px;"
                    id="elvzmygpxea59" class="animable"></path>
                <path
                    d="M295.54,359.32a4.75,4.75,0,0,0,.15-2.22c-.25-1-.3-.88,2.05-1.67s2.83-.05,2.48-1.81-.88-1.66,1.22-2.2,2.44,0,3-1.92.23-2.44,1.7-1.71,1.72,1.21,2.4.58a5.86,5.86,0,0,1,2.73-1.58c1.08-.19.83-.68,1.86-.54a3.72,3.72,0,0,0,1.81-.2Z"
                    style="fill: rgb(94, 94, 94); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 305.24px 352.685px;"
                    id="el6i2c5b15s2l" class="animable"></path>
                <path
                    d="M295.89,359.4a10.72,10.72,0,0,1,4.25.28c2,.63,3.19,1.95,4.55,1.4s1.27-1.32,2.15-1.13,1.42,1.08,2,.73.23-2.93.82-2.64.79.63.88-.3-.88-1.41.34-1.41,2.69.23,2.64-.16a7.22,7.22,0,0,1,.33-3.62,3.85,3.85,0,0,1,1.32-1.66c.24-.25,1-.49.63-1s-.41-3.82-.41-3.82Z"
                    style="fill: rgb(94, 94, 94); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 305.895px 353.641px;"
                    id="elrg0dewm9lh" class="animable"></path>
                <path d="M295.54,359.32,315.35,346S309.44,360,295.54,359.32Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 305.445px 352.672px;"
                    id="elis8nb4eu5p7" class="animable"></path>
                <path
                    d="M258.48,422.89s-4.44,1.48-4.44,3.26,2.07,16.57,2.07,16.57-10.06,5.62-10.94,7.1-.3,8.58-.3,8.58h30.18s.89-7.4.89-10.06a61.11,61.11,0,0,0-.89-7.69l1.77-15.09S268.24,419.05,258.48,422.89Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 260.751px 440.039px;"
                    id="elhls1zk1vt8l" class="animable"></path>
                <path d="M244.87,458.4h30.18s.19-1.59.39-3.55H244.69C244.73,456.73,244.87,458.4,244.87,458.4Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 260.065px 456.625px;"
                    id="elrvns4mb5tlq" class="animable"></path>
                <path d="M270.91,421.71a13.31,13.31,0,0,0-8.58-3.55c-5,0-7.1,3-7.1,3l3,14.79h8Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 263.07px 427.055px;"
                    id="elukiaiqojnaj" class="animable"></path>
                <path
                    d="M267.35,437.28h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,267.35,437.28Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 262.245px 436.445px;"
                    id="eluljox1frutg" class="animable"></path>
                <path
                    d="M267.35,439.32h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,267.35,439.32Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 262.245px 438.485px;"
                    id="elllijmw01u2p" class="animable"></path>
                <path
                    d="M267.35,441.36h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,267.35,441.36Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 262.245px 440.525px;"
                    id="eloae74176vg" class="animable"></path>
                <path
                    d="M267.35,443.4h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,267.35,443.4Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 262.245px 442.565px;"
                    id="elz7ht3f5gbg" class="animable"></path>
                <path
                    d="M316.58,422.89s4.43,1.48,4.43,3.26-2.07,16.57-2.07,16.57,10.06,5.62,10.95,7.1.3,8.58.3,8.58H300s-.89-7.4-.89-10.06a61.11,61.11,0,0,1,.89-7.69l-1.78-15.09S306.81,419.05,316.58,422.89Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 314.301px 440.039px;"
                    id="eldknuc0wnjbk" class="animable"></path>
                <path d="M330.19,458.4H300s-.19-1.59-.4-3.55h30.76C330.32,456.73,330.19,458.4,330.19,458.4Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 314.98px 456.625px;"
                    id="elb1hidsgpta6" class="animable"></path>
                <path d="M304.15,421.71a13.31,13.31,0,0,1,8.58-3.55c5,0,7.1,3,7.1,3l-3,14.79h-8Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 311.99px 427.055px;"
                    id="elf3b2megwlwb" class="animable"></path>
                <path
                    d="M317.79,437.28h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,317.79,437.28Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 312.685px 436.445px;"
                    id="elzc7esk5rs9m" class="animable"></path>
                <path
                    d="M317.79,439.32h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,317.79,439.32Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 312.685px 438.485px;"
                    id="elk61a3aflcok" class="animable"></path>
                <path
                    d="M317.79,441.36h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,317.79,441.36Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 312.685px 440.525px;"
                    id="elx691e8l52br" class="animable"></path>
                <path
                    d="M317.79,443.4h-10.2a.84.84,0,0,1-.84-.83h0a.85.85,0,0,1,.84-.84h10.2a.84.84,0,0,1,.83.84h0A.83.83,0,0,1,317.79,443.4Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 312.685px 442.565px;"
                    id="elxny5g5zbgel" class="animable"></path>
                <path
                    d="M273.91,178.53s-.77,13.57-1,15.64-7.77,6-14.24,9.06-11.91,4.4-11.65,7.25,4.14,109,4.14,109,8.8-.26,21.75-5.17,20.7-11.13,27.17-16.57a53.24,53.24,0,0,1,12.95-8s1-50.22,1-59,1.81-17.86,1.3-21.48-16.05-8-19.93-9.84l-3.89-1.81s0-5,1.56-8.14l1.55-3.1-19.93-8.8Z"
                    style="fill: rgb(64, 175, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 281.216px 248.525px;"
                    id="el5v39lc1mmz" class="animable"></path>
                <path
                    d="M300.05,297.71a53.24,53.24,0,0,1,12.95-8s0-.29,0-.83c-3.94.19-7.72,2.21-24.3,7.81a187.52,187.52,0,0,1-38.11,8.14c.32,8.88.53,14.64.53,14.64s8.8-.26,21.75-5.17S293.58,303.15,300.05,297.71Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 281.795px 304.175px;"
                    id="elrm61t0bmar9" class="animable"></path>
                <path d="M250.32,297.47s46.12-6.4,62.65-11.73"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 281.645px 291.605px;"
                    id="elp1h5l6wmex" class="animable"></path>
                <path
                    d="M295.4,199.35l-3.89-1.81s0-5,1.56-8.14l1.55-3.1-19.93-8.8-.78,1s-.77,13.57-1,15.64c-.17,1.35-3.43,3.48-7.47,5.65,2.5,2.77,9.09,9.3,16.78,10.92,6.2,1.3,11.58-5.41,14.77-10.74C296.33,199.76,295.8,199.54,295.4,199.35Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 281.215px 194.187px;"
                    id="el4fvylfh0siz" class="animable"></path>
                <path
                    d="M285.08,222.71l.22-2.11a40.4,40.4,0,0,0,0-8.08l-.22-2.1s-4.89-.25-6.39,2-.76,6.48-.38,7.78C278.94,222.33,285.08,222.71,285.08,222.71Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 281.646px 216.561px;"
                    id="elevd3pk8ee1u" class="animable"></path>
                <path
                    d="M285.08,237.63l.22-2.1a40.4,40.4,0,0,0,0-8.08l-.22-2.11s-4.89-.25-6.39,2-.76,6.47-.38,7.78C278.94,237.26,285.08,237.63,285.08,237.63Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 281.646px 231.481px;"
                    id="elmib881hzes" class="animable"></path>
                <line x1="285.08" y1="222.71" x2="285.08" y2="225.34"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 285.08px 224.025px;"
                    id="elx493djo3jn" class="animable"></line>
                <line x1="283.58" y1="222.71" x2="283.58" y2="225.09"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 283.58px 223.9px;"
                    id="el6dhxjlcppxb" class="animable"></line>
                <path
                    d="M293.07,189.4l1.55-3.1-19.93-8.8-.78,1v0l1.7,3s5.22,9.67,16.33,12.48A15.68,15.68,0,0,1,293.07,189.4Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 284.265px 185.74px;"
                    id="elrp18smum8i" class="animable"></path>
                <path
                    d="M296.43,156.53s3.11,7.25,3.11,8.28a4,4,0,0,1-.78,2.07s4.66,4.4,4.4,5.44-2.59,2.33-2.59,2.33,1.81,9.58,1.81,10.87-3.62,4.4-10.87,3.62a21.45,21.45,0,0,1-11.9-5.43s-6.73-7.25-7-11.65S277.54,155,284,153.16,296.43,156.53,296.43,156.53Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 287.885px 171.015px;"
                    id="el2yqdm0q5hrd" class="animable"></path>
                <path
                    d="M295.4,167.79c0,.93-.41,1.68-.91,1.68s-.91-.75-.91-1.68.41-1.68.91-1.68S295.4,166.86,295.4,167.79Z"
                    style="fill: rgb(38, 50, 56); transform-origin: 294.49px 167.79px;" id="ely8c969fvwpg"
                    class="animable"></path>
                <path d="M291.51,165.59s2.59-3.37,5.7-1.55"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 294.36px 164.545px;"
                    id="elm96wthftd2b" class="animable"></path>
                <path d="M291,175.68s1.55,2.59,7,1.56"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 294.5px 176.581px;"
                    id="elugjosn8qmll" class="animable"></path>
                <path
                    d="M272.36,155.75s-8.28,3.11-9.06,8,6.21,11.65,7.25,12.68,7,1,8.54-1-.78-5.44.77-6.73,3.63-.78,4.15-4.66-1.3-5.44,1.29-6.73,5.95,1.55,11.13-.78,3.62-11.39-2.07-14.75-14.75,1.29-15,3.1,1.55,4.14,0,4.4-4.92-.77-5.44,1.81A20.92,20.92,0,0,1,272.36,155.75Z"
                    style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 281.411px 158.846px;"
                    id="elo6vldbj62" class="animable"></path>
                <path d="M279.35,177.24s-2.85-5.7-6.73-5.18-2.85,9.06,0,10.87,6.73-1.81,6.73-1.81"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 274.716px 177.732px;"
                    id="eledca0ymou4h" class="animable"></path>
                <path
                    d="M250.22,207.12s-7.51,3.1-8.8,7.24-17.35,41.94-18.9,45,.26,8.54,3.11,9.58,4.4,0,7.24-2.07,17.35-26.4,17.35-26.4"
                    style="fill: rgb(64, 175, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 236.086px 238.234px;"
                    id="eln9x03drxnlq" class="animable"></path>
                <g id="elgw3q114xz6o">
                    <path
                        d="M231.82,207.66h9.12a1.87,1.87,0,0,1,1.87,1.87v24.88a1.87,1.87,0,0,1-1.87,1.87h-9.12a1.88,1.88,0,0,1-1.88-1.88V209.53a1.88,1.88,0,0,1,1.88-1.88Z"
                        style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 236.375px 221.965px; transform: rotate(-1deg);"
                        class="animable"></path>
                </g>
                <path
                    d="M227.59,242.13s-.07-14.95-.18-17.06,2.44-4.28,4-5.33,8.19-4.11,9-3.75.54,1.66-.54,2.43-5.84,3.42-6.74,4.15-.83,3.57-.83,3.57,5.48-2.63,7.11-3.34,3.42-1.47,4.08-.9a1.5,1.5,0,0,1,.33,1.53,2.65,2.65,0,0,1,.58,1.83c-.15.93-4,4.62-5.18,5.59a33.19,33.19,0,0,0-2.52,2.34s7.27-1.78,7.78-1.89,1.11,1-.3,1.85a57.53,57.53,0,0,1-6.75,2.55,23.56,23.56,0,0,1-1.54,5.15,7.82,7.82,0,0,1-3.2,4.09s3.07,16.42.84,20.83-9.21,7.55-12,2.11-1.05-12.07,1.72-15.7S227.59,242.13,227.59,242.13Z"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 232.585px 243.363px;"
                    id="elffwjpv9k0u" class="animable"></path>
                <path
                    d="M234.15,256.33c-6.13,2.63-10.18.09-12.26-2-1.91,3.76-2.72,9.06-.4,13.57,2.8,5.44,9.77,2.3,12-2.11C234.41,264,234.44,260.19,234.15,256.33Z"
                    style="fill: rgb(64, 175, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 227.192px 262.558px;"
                    id="elpcq733re1v" class="animable"></path>
                <line x1="243.79" y1="223.43" x2="233.78" y2="229.73"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 238.785px 226.58px;"
                    id="elehgg6dpaejo" class="animable"></line>
                <line x1="243.79" y1="223.43" x2="233.78" y2="229.73"
                    style="fill: none; stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 238.785px 226.58px;"
                    id="elyah33ba0u4j" class="animable"></line>
                <path
                    d="M317.44,284.89l-8.34,1.77c-.89.18-6.92,5.85-7.63,6.92s1.24,1.77,2.13,1.77,5.67-3.54,5.67-3.54L308,295l9.58,8.34s2.57-4.61,3.81-7.63a35.33,35.33,0,0,0,1.77-7.63"
                    style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linejoin: round; transform-origin: 312.239px 294.115px;"
                    id="el4zceanyvqw9" class="animable"></path>
            </g>
            <defs>
                <filter id="active" height="200%">
                    <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
                    <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>
                    <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                    <feMerge>
                        <feMergeNode in="OUTLINE"></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                </filter>
                <filter id="hover" height="200%">
                    <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2"></feMorphology>
                    <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>
                    <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                    <feMerge>
                        <feMergeNode in="OUTLINE"></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                    <feColorMatrix type="matrix"
                    values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 ">
                    </feColorMatrix>
                </filter>
            </defs>
        </svg>
    </div>
</div>
