<div class="sidebar-container">
  <div class="logo">
    <img class="img" src="assets/images/Logo.svg" alt="Logo">
    <div class="name"> Smart Home </div>
  </div>
  <ul class="sidebar-items">
    <li>
      <a class="sidebar-item" data-tab="dashboard" href="/">
        <i class="material-icons i_active">apps</i>
        <span class="span_active">Dashboard</span>
      </a>
    </li>
    <li>
      <a class="sidebar-item" data-tab="settings" href="/settings">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a class="sidebar-item" data-tab="statistics" href="/statistics">
        <i class="material-icons">insert_chart_outlined</i>
        <span>Statistics</span>
      </a>
    </li>
  </ul>

  <div class="logout">
    <a href="#">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span> Log out </span>
    </a>
  </div>
</div>