<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/headTag'); %> 
</head>

<body>
  <div class="body-container login-wrapper">
    <%- body %> 
  </div>


  <%- include('../partials/scriptTag'); %> 
</body>

</html>