<div id="main-area-render">
    <div class="statistic-container">
        <div class="chart-container">
            <canvas id="elec-chart"></canvas>
        </div>

        <div class="table-and-rooms">
            <div class="rooms-container">
                <% roomKWh.forEach(room => { %>
                    <div class="room-item">
                        <div class="border-badge">
                            <span><%= parseInt(room.total / 1000) %> kWh</span>
                        </div>
                        <div class="room-name">
                            <p><%= room.roomName %></p>
                            <!-- <p style="color: #FF0000;"><i class="material-icons-outlined">
                                    arrow_drop_up
                                </i>10%</p> -->
                        </div>
                    </div>
                <% }) %> 
                
                <!-- <div class="room-item">
                    <div class="border-badge">
                        <span>70kWh</span>
                    </div>
                    <div class="room-name">
                        <p>Living room</p>
                        <p style="color: #FF0000;"><i class="material-icons-outlined">
                                arrow_drop_up
                            </i>11%</p>
                    </div>
                </div>
                <div class="room-item">
                    <div class="border-badge">
                        <span>23kWh</span>
                    </div>
                    <div class="room-name">
                        <p>Kitchen</p>
                        <p style="color: #06BA23;"><i class="material-icons-outlined">
                                arrow_drop_down
                            </i>8%</p>
                    </div>
                </div>
                <div class="room-item">
                    <div class="border-badge">
                        <span>19kWh</span>
                    </div>
                    <div class="room-name">
                        <p>Garage</p>
                        <p style="color: #06BA23;"><i class="material-icons-outlined">
                                arrow_drop_down
                            </i>10%</p>
                    </div>
                </div> -->
            </div>
            <div class="table-of-device-container">
                <div class="table-of-device">
                    <table class="table table-hover" id="table-of-device">
                        <thead>
                            <tr>
                                <th scope="col">Thiết bị</th>
                                <th scope="col">Vị trí</th>
                                <th scope="col">Thời gian<br>sử dụng (h)</th>
                                <th scope="col">Điện tiêu<br>thụ (kWh)</th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="table-pagination">
                    <p data-page="1">page 1 of 1</p>
                    <span class="material-icons-outlined back">arrow_back</span>
                    <span class="material-icons-outlined forward">arrow_forward</span>
                </nav>
            </div>
        </div>
    </div>
</div>