<!-- 🤩🤩 START PAGE HERE 🤩🤩 -->
<div id="main-area-render">
    <div class="statistic-container">
        <img src="./assets/images/Group 7.svg" alt="">

        <div class="table-and-rooms">
            <div class="rooms-container">
                <div class="room-item">
                    <div class="border-badge">
                        <span>36kWh</span>
                    </div>
                    <div class="room-name">
                        <p>Bedroom</p>
                        <p style="color: #FF0000;"><i class="material-icons-outlined">
                                arrow_drop_up
                            </i>10%</p>
                    </div>
                </div>
                <div class="room-item">
                    <div class="border-badge">
                        <span>70kWh</span>
                    </div>
                    <div class="room-name">
                        <p>Living room</p>
                        <p style="color: #FF0000;"><i class="material-icons-outlined">
                                arrow_drop_up
                            </i>11%</p>
                    </div>
                </div>
                <div class="room-item">
                    <div class="border-badge">
                        <span>23kWh</span>
                    </div>
                    <div class="room-name">
                        <p>Kitchen</p>
                        <p style="color: #06BA23;"><i class="material-icons-outlined">
                                arrow_drop_down
                            </i>8%</p>
                    </div>
                </div>
                <div class="room-item">
                    <div class="border-badge">
                        <span>19kWh</span>
                    </div>
                    <div class="room-name">
                        <p>Garage</p>
                        <p style="color: #06BA23;"><i class="material-icons-outlined">
                                arrow_drop_down
                            </i>10%</p>
                    </div>
                </div>

            </div>
            <div class="table-of-device-container">
                <div class="table-of-device">
                    <table class="table table-hover" id="table-of-device">
                        <thead>
                            <tr>
                                <th scope="col">Thiết bị</th>
                                <th scope="col">Vị trí</th>
                                <th scope="col">Thời gian<br>sử dụng (h)</th>
                                <th scope="col">Điện tiêu<br>thụ (kWh)</th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                            <tr>
                                <td scope="row">Đèn tuple</td>
                                <td>Living room</td>
                                <td>250</td>
                                <td>9</td>
                                <td><span class="badge bg-success">active</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <nav class="table-pagination">
                        <p>page 1 of 1</p>
                        <span class="material-icons-outlined">arrow_back</span>
                        <span class="material-icons-outlined">arrow_forward</span>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>