@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'normalize';
@import 'variable';
* {
    font-family: 'Roboto', sans-serif;
}
body {
    background: #c3d9e4;
}
h1 {
    font-weight:300;
    text-align: center;
}
h2{
    text-align: center;
}
.body-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125.8deg, #4FACFE 7.05%, #00F2FE 86.34%);
    .wrapper {
        width: 801px;
        height: 675px;
        background: $background;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
    }
}
.sidebar-container {
    width: 161px;
    height: 100%;
    background: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.main-container {
    width: calc(801px - 161px);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px;
    .main-feed {
        width: 100%;
        height: 60px;
        .avatar-container {
            display: flex;
            flex-direction: row;
            .avatar {
                width: 53px;
                height: 53px;
                border-radius: 50%;
                background: white;
            }
            .avatar-name {
                height: 100%;
                p {
                    font-size: 20px;
                }
            }
        }
    }
}