.settings-container{
    margin-top: 20px;
    height: 100px;
    .settings-button{
        margin-top: 15px;
        display: flex;
        justify-content:space-around;
        .settings-button-class{
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            p{
                margin-top: 10px;
                font-weight: 900;
                font-size: 14px;
                line-height: 16px;
            }
            a{
                width: 70px;
                height: 70px;
                background: #ffffff;
                box-shadow: 1px 3px 10px rgba(165, 165, 165, 0.5);
                border-radius: 10px;
                display: inline-flex;
                text-decoration: none;
                cursor: pointer;
                padding: 10px 2px;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                span{
                    font-size: 44px;
                    color: #83A4B5;
                    margin-left: 12px;

                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
            }
            .active{
                width: 70px;
                height: 70px;
                background: #FF844B;
                box-shadow: 1px 3px 10px rgba(255, 132, 75, 0.5);
                border-radius: 10px;
                display: inline-flex;
                text-decoration: none;
                span{
                    font-size: 44px;
                    color: white;
                    margin: auto;

                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
            }
        }
        .settings-button-class:hover span{
            -webkit-transform: scale(1.3) translateZ(0);
            transform: scale(1.3) translateZ(0);
        }
    }
}

.settings-content{
    display: flex;
    flex-direction: row;
    align-items: normal;
}

.settings-items{
    width: 210px;
    .nav1{
        border-bottom: 0px;
    }
    ul{
        flex-direction: column;
        margin-top: 25px;
        li{
            list-style-type: none;
            width: 175px;   
            display: inline-flex;
            align-items: center;
            margin-bottom: 25px;
            padding: 8px 0;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            a{
                text-decoration: none;
                color: #000000;
            }
            i{
                margin-left: 10px;
                font-size: 18px;
            }
            span{
                margin-left: 15px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
        }
        // li:before{
        //     content: "";
        //     position: absolute;
        //     z-index: -1;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background: #2098D1;
        //     -webkit-transform: scaleX(0);
        //     transform: scaleX(0);
        //     -webkit-transform-origin: 0 50%;
        //     transform-origin: 0 50%;
        //     -webkit-transition-property: transform;
        //     transition-property: transform;
        //     -webkit-transition-duration: 0.3s;
        //     transition-duration: 0.3s;
        //     -webkit-transition-timing-function: ease-out;
        //     transition-timing-function: ease-out;
        // }
        // a:hover, a:focus{
        //     color: white;
        // }
        a:active{
            color: #FF4500;
        }
        li:hover:before, a:focus:before, a:active:before{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        .item_active{
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
        }
    }
}
.tab-content {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-left: 20px;
}
.settings-edit{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 19px;
    .settings-avatar{
        // margin-top: 15px;
        margin-left: 130px;
        width: 85px;
        height: 82px;
        img{
            width: 100%;
            height: 100%;
            margin-top: 15px;
            object-fit: cover;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
            border-radius: 50px;
        }
    }
    .form_edit{
        position:relative;
        width: 216px;
        margin: 32px auto;
        label{
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            margin-bottom: 4px;
            font-weight: bold;
        }
        input{
            width: 216px;
            height: 25px;
            background: $background_form;
            border: 1px solid #E3EDF2;
            box-sizing: border-box;
            border-radius: 5px;
            margin-bottom: 25px;
            color: $lightBlue;
            font-weight:450;
            padding: 4px;
        }
        .cancel{
            margin-left: 70px;
            width: 69px;
            height: 30px;
            background: $background_form;
            border-radius: 5px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: $lightBlue;
        }
        .save{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 69px;
            height: 30px;
            background: #FF9900;
            box-shadow: 1px 2px 10px rgba(255, 153, 0, 0.75);
            border-radius: 5px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .form_change_password{
        padding-top: 40px;
    }
    .myhome{
        img{
            display: block;
            margin: auto;
            padding-top: 10px;
            width: 80%;
        }
    }
    .form_myhome{
        margin-top: 10px;
    }
}
