.sidebar-container {
    width: 161px;
    height: 100%;
    background: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    .logo{
        display: flex;
        width: 100%;
        height: 48px;
        margin-top: 45px;
        .img{
            margin-left: 17px;
            width: 20px;
            height: 24px;
        }
        .name{
            width: 103px;
            height: 24px;
            font-weight: 900;
            font-size: 18px;
            line-height: 24px;
            color: #7297AB;
            margin-left: 7px;
        }
    }
    ul{
        padding: 0;
        li{
            list-style-type: none;
            margin-bottom: 30px;
            height: 33px;
            padding: 0;
            a{
                padding-left: 34px;
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                text-decoration: none;
                width: 100%;
                height: 100%;
                font-size: 12px;
            }
            i{
                color: $lightBlue;
                font-size: inherit;
                font-style: normal;
            }
            span{
                color: $lightBlue;
                font-weight: 700;
                font-size: inherit;
                margin-left: 5px;
            }
        }
        li.li-active {
            background: #FFE7DC;
            border-right: 4px solid $orange;
            i, span {
                color: $orange;
            }
        }
    }
    .logout{
        height: 42px;
        width: 95px;
        margin: 230px auto;
        line-height: 42px;
        background: #F1F6FA;
        border-radius: 10px;
        a{
            text-decoration: none;
        }
        i{
            margin-left: 15px;
            margin-right: 5px;
            color: #7297AB;
            font-size: 12px;
        }
        span{
            display: inline-block;
            font-weight: 700;
            font-size: 12px;
            text-align: center;
            color: #7297AB
        }
    }
}