@import 'mixins';
@import 'variable';
@import 'animation';
.main-container {
  width: calc(801px - 161px);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px;
  .main-feed {
    width: 100%;
    height: 60px;
    @include d-flex(row, normal, center);
    .message-area {
      @include d-flex(row, center, center);
      margin-right: 20px;
      button {
        box-shadow: $shadow;
        background: white;
        border-radius: 50%;
        font-size: 14px;
        padding: 8px;
        text-align: center;
        color: $lightBlue;
        border: none;
        &::after {
          content: '';
          display: none;
        }
      }
    }
    .avatar-container {
      display: flex;
      flex-direction: row;
      height: inherit;
      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
            rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }
      }
      .avatar-name {
        height: inherit;
        width: 190px;
        margin-left: 25px;
        p {
          margin: 0;
          font-size: 12px;
        }
        .account-name {
          width: 100%;
          font-size: 20px;
          font-weight: 600;
        }
        .account-address {
          height: 40px;
          color: $lightBlue;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          margin-top: 5px;
          p {
            margin-left: 5px;
            width: 143px;
          }
        }
      }
    }
    .feed {
      width: 292px;
      @include d-flex(column, flex-end, normal);
      p {
        &:first-child {
          font-size: 26px;
        }
        &:nth-child(2) {
          font-size: 14px;
          margin-top: 5px;
          color: $lightBlue;
          animation: 2s infinite slideup;
        }
      }
    }
  }
  .add-new-device-and-choose-room {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 41px;
    margin: 20px 0 20px 0;
    // SELECT ROOM DESIGN ====================
    .select-room-dropdown {
      height: 100%;
    }
    #select-room-dropdown-menu {
      border: none;
      height: 100%;
      background: none;
    }
    .add-device-btn {
      width: 125px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      span {
        padding-right: 5px;
        opacity: 0.7;
      }
    }
  }
  .main-control-container {
    height: calc(100% - 81px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @import 'devices';
    .temp-and-humi-container {
      @include d-flex(row, flex-start, center);
      column-gap: 20px;
    }
    .temp-container,
    .humidity-container {
      position: relative;
      overflow: hidden;
      padding-top: 10px;
      width: 50%;
      height: 135px;
      background: white;
      border-radius: 17px;
      p {
        text-align: center;
        font-size: 14px;
        &:nth-child(2) {
          font-size: 40px;
          position: relative;
          font-weight: 600;
          top: 35%;
          transform: translateY(-50%);
        }
      }
      i {
        font-size: 90px;
        color: $lightBlue;
        opacity: 0.4;
        position: absolute;
        top: 20px;
        left: 220px;
      }
    }
    .temp-container {
      p {
        &:nth-child(2) {
          color: #1cba36;
          span {
            position: absolute;
            font-size: 20px;
          }
        }
      }
    }
    .humidity-container {
      p {
        &:nth-child(2) {
          color: $orange;
        }
      }
    }
  }
}

.find-new-device {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 2px dashed $lightBlue;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $lightBlue;
  font-weight: 600;
}
.loading {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#add-new-device-form {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}

