.title-content {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
  p {
    font-size: 26px;
    color: $lightBlue;
    font-weight: 600;
  }
}
.statistic-container {
  padding-top: 35px;
  .table-and-rooms {
    display: grid;
    grid-template-columns: 195px 372px;
    padding-top: 40px;
    .rooms-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 22px;
      height: 274px;
      overflow-y: auto;
      padding-bottom: 10px;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      .room-item {
        width: 172px;
        height: 52px;
        border-radius: 10px;
        background: white;
        box-shadow: $shadow;
        display: inline-flex;
        .border-badge {
          width: max-content;
          padding-left: 4px;
          padding-right: 4px;
          height: 100%;
          background: #00466D;
          border-top-left-radius: inherit;
          border-bottom-left-radius: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            color: white;
            font-size: 18px;
          }
        }
        .room-name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-left: 10px;
          p {
            &:first-child {
              font-size: 14px;
              font-weight: 600;
            }
            &:last-child {
              font-size: 11px;
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
            }
          }
        }
      }
    }
    .table-of-device-container {
      padding: 10px;
      background: white;
      border-radius: 10px;
      height: 100%;
    }
    .table-pagination {
      margin-top: auto;
      margin-bottom: 0;
      padding-top: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      bottom: 0;
      position: sticky;
      right: 0;
      background: white;
      span {
        background: rgba($color: $lightBlue, $alpha: 0.2);
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
        color: $lightBlue;
        cursor: pointer;
        font-size: 14px;
      }
    }
    .table-of-device {
      background: white;
      height: 230px;
      overflow-x: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      table {
        font-size: 10px;
        width: 500px;
        thead {
          th {
            top: 0;
            z-index: 2;
            position: sticky;
            background: white;
          }
          tr {
            font-size: 11px;
            th {
              padding: 0;
              margin: 0;
              font-size: inherit;
              text-align: center;
              color: $lightBlue;
              text-align: start;
              &:last-child {
                width: 42px;
              }
            }
          }
        }
        tbody {
          td {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
      
    }
  }
}

.chart-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 200px;
}