@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'normalize';
@import 'variable';
@import 'components';
@import 'toast';
* {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background: #c3d9e4;
}
p {
  margin: 0;
  padding: 0;
}

.body-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(125.8deg, #4facfe 7.05%, #00f2fe 86.34%);
  .wrapper {
    width: 801px;
    height: 675px;
    background: $background;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
  }
}
#root {
  height: calc(100% - 60px);
}
@import 'login';
@import 'sidebar';
@import 'main';
@import 'statistic';
@import 'settings';
